.product-details-content {

    background-color: $light-gray;

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;

        .content {
            width: 75%;
            
            .product-img-outer {
                padding: 2%;
                background-color: white;
                border: 1px solid #dcdcdc;
                margin-bottom: 32px;
            }

            .product-img {
                padding: 25%;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            h2 {
                font-size: 30px;
                line-height: 1.33;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                color: #707070;
                margin-bottom: 40px;
            }
            
            .row {
                display: flex;
                margin-bottom: 42px;                
            }

            .social-link-list {
                @extend %listreset;
                
                display: flex;
            }

            #product-tabs {
                background-color: $white;
                border: 1px solid #dfdfdf;
                margin-bottom: 52px;

                ul {                    
                    @extend %listreset;
                }

                .product-tabs-headings {

                    display: flex;
                    
                    li {
                        width: 25%;
                        text-align: center;
                        border-bottom: 1px solid #dfdfdf;
                        border-right: 1px solid #dfdfdf;
                        font-size: 16px;

                        &:last-child {
                            border-right: none;
                        }

                        a {
                            display: block;
                            color: #70838d;
                            outline: none;
                            padding: 18px 10px;
                        }
                    }

                    .ui-tabs-active {
                        font-weight: 500;
                        border-bottom: 5px solid $green;
                    }

                    .ui-state-focus {
                        outline: none;
                    }
                }

                .product-tabs-description {
                    font-size: 16px;
                    line-height: 2.25;
                    color: #707070;
                    padding: 25px 35px;

                    li {
                        position: relative;
                        padding-left: 20px;

                        &:before {
                            content: "\e904";
                            font-family: 'icomoon';
                            position: absolute;
                            top: 5px;
                            left: 0;
                            color: #8bc34a;
                            transform: rotate(180deg);
                            font-size: 10px;
                        }
                    }
                }
            }            
        }

        .buttons-outer {
            width: 74%;

            button {
                color: $light-gray;
                font-size: 16px;
                max-width: 158px;
                width: 100%;
                padding: 12px;
                margin-right: 18px;
                margin-bottom: 10px;
                outline: none;
                border: none;                        
            }  
            
            .red {
                @extend %transition;
                background-color: $red;

                &:hover {
                    background-color: lighten($red, 10%);
                }
            }

            .gray {
                @extend %transition;
                background-color: #455a64;

                &:hover {
                    background-color: lighten(#455a64, 10%);
                }
            }

            .green {
                @extend %transition;
                background-color: $green;

                &:hover {
                    background-color: lighten($green, 10%);
                }
            }
        }

        .side-bar {
            width: calc(25% - 20px);
            margin-left: 10px;

            &:last-child {
                margin-bottom: 0;;
            }

            h3 {
                font-weight: 700;
                font-size: 20px;
                line-height: 1;
                color: $dark-blue;
                border-bottom: 1px solid #dfdfdf;
                padding-bottom: 22px;
                margin-bottom: 32px;
            }

            .product-price {
            
                .price {
                    font-weight: 500;                
                    font-size: 22px;
                    line-height: 1;
                    color: $red;
                    margin-bottom: 34px;
                }

                button {
                    display: block;
                    max-width: 208px;
                    width: 100%;
                    border: none;
                    outline: none;
                    margin: 0 auto 8px;
                    font-weight: bold;
                    font-size: 16px;
                    color: $white;
                    line-height: 1;
                    padding: 16px 10px;
                    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
                }
            }

            .icons-list {
                @extend %listreset;

                display: flex;
                justify-content: space-between;
                
                li {
                    padding-right: 5px;

                    &:last-child {
                        padding-right: 0;
                    }

                }
            }

            .product-author {
                h3 {
                    margin-bottom: 24px;
                }
            }

            .product-information {
                h3 {
                    margin-bottom: 15px;
                }
            }
        }

    }

    .product-author__outer {
        display: flex;
        margin-bottom: 24px;
    }

    .product-author__img {
        width: 73px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-right: 14px;
    }

    .product-author__info {
        .name {
            font-size: 18px;
            line-height: 1;
            color: $dark-blue;
            font-weight: 500;
            padding-bottom: 20px;
        }

        .view-profile {
            padding: 2px 10px;
            background-color: #fff;
            border: 1px solid #dfdfdf;
            outline: none;
            color: #707070;
            font-size: 13px;
            font-weight: 400;
            @extend %transition;

            &:hover {
                color: $green;
            }
        }
    }

    .side-bar__item {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        padding: 26px 30px 20px 28px;                
        margin-bottom: 30px;
    }

    .icon-shopping-cart {
        margin-right: 9px;
    }

    .cart {
        @extend %transition;
        background-color: $green;

        &:hover {
            background-color: lighten($green, 10%);
        }
    }

    .favourites {
        @extend %transition;
        span {
            margin-right: 8px;
        }

        background-color: #42a5f5;

        &:hover {
            background-color: lighten(#42a5f5, 10%);
        }
    }

    .buy-now {
        @extend %transition;
        background-color: $blue;

        &:hover {
            background-color: lighten($blue, 10%);
        }
    }

    .more-product {
        .row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .col {
            display: flex;
            margin: 0 0 28px 0;
            @extend %transition;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }

    .more-product__title {
        font-size: 18px;
        line-height: 24px;
        color: $dark-blue;
        font-weight: 500;
        background-color: #fff;
        border: 1px solid #dfdfdf;
        padding: 18px 10px 18px 26px;
        margin-bottom: 28px;
    }

    .more-product__item__img {
        width: 100px;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .more-product__item__description {
        padding: 14px 22px 6px;
        background-color: #fff;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

        .title {
            font-weight: 500;
            font-size: 14px;
            color: $dark-blue;
        }

        .category {
            font-weight: 400;
            font-size: 12px;
            color: $green;
        }

        .price {
            font-weight: 700;
            font-size: 18px;
            color: $dark-blue;            
        }
    }

    .product-sales {
        font-weight: 300;
        font-size: 16px;
        color: #707070;
        line-height: 1;
        padding: 20px 30px 20px 28px;

        .icon-shopping-cart {
            margin-right: 18px;
            font-size: 20px;
            color: #a6b5bb;
        }

        span {
            font-weight: 700;
            font-size: 20px;
            color: $dark-blue;
            margin-right: 14px;
        }
    }

    .product-information {
        h3 {
            margin-bottom: 15px;
        }

        .product-information__list {
            @extend %listreset;

            li {
                font-size: 14px;
                font-weight: 400;
                color: #70838d;
                line-height: 2.5;

                span {
                    font-weight: 500;
                    color: $dark-blue;
                }
            }


        }
    }
}