.product-details-content {

    background-color: $light-gray;

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include media ('<=widescreen') {
            display: block;
        }

        .content {
            width: 74.36%;
            
            .product-img-outer {
                padding: 2%;
                background-color: white;
                border: 1px solid #dcdcdc;
                margin-bottom: 32px;
            }

            .product-img {
                padding: 25%;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }

            h2 {
                font-size: 30px;
                line-height: 1.33;
            }

            p {
                font-size: 16px;
                line-height: 1.5;
                color: #707070;
                margin-bottom: 40px;
            }
            
            .row {
                display: flex;
                margin-bottom: 38px;

                .buttons-outer {
                    width: 74%;

                    button {
                        color: $light-gray;
                        font-size: 16px;
                        max-width: 158px;
                        width: 100%;
                        padding: 1.92%;
                        margin-right: 18px;
                        outline: none;
                        border: none;                        
                    }  
                    
                    .red {
                        background-color: $red;
                    }
    
                    .gray {
                        background-color: #455a64;
                    }
    
                    .green {
                        background-color: $green;
                    }
                }

                .social-link-list {
                    @extend %listreset;
                    
                    display: flex;
                }
            }

            #product-tabs {
                background-color: $white;
                border: 1px solid #dfdfdf;

                ul {                    
                    @extend %listreset;
                }

                .product-tabs-headings {

                    display: flex;
                    
                    li {
                        width: 25%;
                        text-align: center;
                        border-bottom: 1px solid #dfdfdf;
                        border-right: 1px solid #dfdfdf;
                        font-size: 16px;

                        &:last-child {
                            border-right: none;
                        }

                        a {
                            display: block;
                            color: #70838d;
                            outline: none;
                            padding: 18px 10px;
                        }
                    }

                    .ui-tabs-active {
                        font-weight: 500;
                        border-bottom: 5px solid $green;
                    }

                    .ui-state-focus {
                        outline: none;
                    }
                }

                .product-tabs-description {
                    font-size: 16px;
                    line-height: 2.25;
                    color: #707070;
                    padding: 25px 35px;

                    li {
                        position: relative;
                        padding-left: 20px;

                        &:before {
                            content: "\e904";
                            font-family: 'icomoon';
                            position: absolute;
                            top: 5px;
                            left: 0;
                            color: #8bc34a;
                            transform: rotate(180deg);
                            font-size: 10px;
                        }
                    }
                }
            }            
        }

        .side-bar {
            width: 23.08%;
            margin-left: 10px;
        }

    }

    
}